.logo {
  height: 75px;
}

.avatar {
  height: 130px;
}

.captura {
  height: 64px;
  width: 64px;
  object-fit: cover;
}

h1, h2, h3, h4, h5, h6 {
  color: #000000;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body {
  color: #333333;
}

.grafica {
  width: 100%;
  height: 450px;
  background-color: papayawhip;
}

.viz {
  background-color: papayawhip;
}

.marco {
  background-color: #ffcccc;
  border: 3px #000000 solid;
  padding: 10px;
  color: #cc0000;
}

.banda {
  background-color: #ff0000;
}

.hbar {
  color: #ffff00;
  background-color: #333333;
  text-align: right;
  padding-right: 10px;
  border: 1px solid #000000;
}