body {
  font-family: "Roboto Slab";
  background-color: #000088;
  color: #cccccc;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Maiandra GD";
  color: #990000;
}

h1 {
  border-bottom: 1px solid #ffff00;
}

a {
  color: #ffff00;
  text-decoration: none;
}

a:visited {
  color: #ffff00;
  text-decoration: none;
}

a:hover {
  color: bisque;
  background-color: #990000;
}