body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #cccccc;
  color: #000066;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Marcellus;
  color: #990000;
}

h1 {
  border-bottom: 1px solid #009900;
}

a {
  color: #009900;
  text-decoration: none;
}

a:visited {
  color: #009900;
  text-decoration: none;
}

a:hover {
  color: #990000;
  background-color: bisque;
}